body {
    background-color: white;
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;

}

hr {

    border: 1px solid #a19f9f;
    margin: -25px;
    margin-bottom: 25px;
    margin-top: 25px;

}

div {
    border: 2px solid #a19f9f;
    margin: 50px;
    padding: 25px;
    width: 700px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: 40px;
}

p {

    margin: 0;

}

h1 {
    margin: 50px;
    font-size: 2rem;
    color: #454545;

}

@media (max-width: 480px) {
.conteiner { 
        width: 400px;
        height: auto;
}
    }


   .conteiner.correct {
    border: 2px solid green;
}

.conteiner.incorrect {
    border: 2px solid red;
}

.conteiner label {
    cursor: pointer;
}

.conteiner label.correct {
    color: green;
}

.conteiner label.incorrect {
    color: red;
}

.resultado {

    font-weight: bold;
}

.alternativa-resultado {
    color: red;
}

.alternativa-resultado.correct {
    color: green; 
    margin-top: 20px;
    margin-left: -25px;
    width: 200%;
    height: auto;
    box-sizing: border-box;
    max-width: 697px;
    padding: 25px;
}

@media (max-width: 480px) {
    .alternativa-resultado.correct { 
        max-width: 397px;
        width: 200%;
        box-sizing: border-box;
        height: auto;

        }
    }